streamlit==1.38.0
streamlit-drawable-canvas==0.9.3
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
numpy>=2.1.0
pandas==2.2.2
scikit-learn==1.6.1
Pillow==10.4.0
mlflow
opencv-python-headless
